<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside class="bg-black text-white shadow-md p-4 space-y-4 transition-all duration-300"
    [ngClass]="{ 'w-64': !isCollapsed, 'w-16': isCollapsed }">
    <h2 class="text-xl font-bold text-center" *ngIf="!isCollapsed">Admin Panel</h2>
    <nav>
      <ul class="space-y-2">
        <li class="p-2 hover:bg-gray-200 hover:text-black rounded transition">
          <a class="block" [routerLink]="'/admin'">Dashboard</a>
        </li>
        <li class="p-2 hover:bg-gray-200 hover:text-black rounded transition">
          <a class="block" [routerLink]="'/admin/product'">Sản phẩm</a>
        </li>
        <li class="p-2 hover:bg-gray-200 hover:text-black rounded transition">
          <a class="block" [routerLink]="'/admin/user'">User</a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <main class="flex-1 p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
